# Временные файлы macOS
.DS_Store

# Файлы сборки Node.js
node_modules/

# Файлы сборки Python
__pycache__/
.venv/

# Файлы, генерируемые редакторами (например, VS Code)
.vscode/

# Файлы логов
*.log

# Примеры приватных ключей или конфигураций
*.env
config.js.example 







